@charset "utf-8";

/*=====================================
    全体的なスタイル
======================================*/
* {
    margin:0; padding:0;
}

body {
    background-color:#cccccc;
    font-size:95%;
    font-family:"MS ゴシック",sans-serif;
    line-height:1.5;
}

/*=====================================
    ヘッダー
======================================*/
div#header {
    background-color:black;
    text-align:center;
    height:75px;
}

/*=====================================
    メニュー
======================================*/
#menu ul {
    background-color:gray;
}

#menu li {
    list-style-type:none;
    display:inline;
    float:left;
    width:33.33%;
}

#menu li a {
    background-color:dimgray;
    color:linen;
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:120%;
    padding:5px 5px 5px 5px;
}

#menu li a:hover {
    background-color:gray;
}

#menu:after {
    content:"";
    display:block;
    clear:both; 
}

/*=====================================
    メインコンテンツ
======================================*/
/*commont*/
#maincontents h3 {
    font-family:'游ゴシック';
    font-size:150%;
    text-align:left;
    padding:5px;
}

#maincontents ul {
    font-family:'Haettenschweiler';
    font-size:100%;
}

#maincontents ul li {
    font-size:105%;
    list-style-type:none; 
    padding:5px 5px 5px 15px;
}

#maincontents article {
    padding:5px 5px 5px 20px;
}

#maincontents table {
    width:60%;
    padding:0px 0px 10px 10px;
}   

#maincontents table th {
    padding:5px 5px 5px 5px;
    font-family:'arial black';
    width:10%;
    text-align:left;
    padding:3px;
}

#maincontents table th.skilllistth {
    border-left:1px black solid;
    border-bottom:1px black solid;
    vertical-align: top;
}

#maincontents table th.skilllistth {
    border-left:1px black solid;
    border-bottom:1px black solid;
}

#maincontents table td {
    width:90%;
    font-family:'Century Gothic';
    column-span: 3;
}


